.header {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.navLinksOpen {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.navLinks li {
  cursor: pointer;
  color: #ffffff;
  position: relative;
  padding: 10px;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: #182848;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  top: 30px;
  left: 0;
  width: max-content;
  min-width: 150px;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.dropdownMenuOpen {
  display: block;
  opacity: 1;
}

.featuresDropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featuresDropdown li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.featuresDropdown i {
  font-size: 24px;
  margin-right: 10px;
}

.featuresDropdown div {
  display: flex;
  flex-direction: column;
}

.featuresDropdown span {
  font-size: 12px;
  color: #bbb;
}


.getStartedButton {
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hide button in mobile view */
.desktopOnly {
  display: inline-block;
}

.mobileOnly {
  display: none;
}

.main {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}

.mainHeading {
  font-size: 48px;
  font-weight: 700;
}

.highlight {
  color: #6c63ff;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.ctaButton,
.learnMoreButton {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.ctaButton {
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
}

.learnMoreButton {
  background-color: transparent;
  color: #6c63ff;
  border: 2px solid #6c63ff;
}

/* dropdown effect web */
@media (min-width: 769px) {
  .dropdown > i {
    margin-left: 5px;
    transition: transform 0.3s ease;
  }

  /* Only rotate the chevron icon on hover over the dropdown title */
  .dropdown:hover > i {
    transform: rotate(180deg);
  }

  /* Only show the dropdown menu when hovering over the dropdown title */
  .dropdown > .dropdownMenu {
    display: none;
    opacity: 0;
  }

  .dropdown:hover > .dropdownMenu {
    display: block;
    opacity: 1;
  }

  .featuresDropdown i {
    font-size: 24px;
    margin-right: 10px;
  }

  /* Adjust login button to be standalone on the right */
  .getStartedButton {
    margin-left: auto;
  }

  /* Hide the mobile login button */
  .mobileOnly {
    display: none;
  }
}

/* Mobile-specific styles for nav and dropdown */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #0a0a23;
    position: absolute;
    top: 49.7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    z-index: 1000; /* Ensure the nav links are above other content */
  }

  .navLinksOpen {
    display: flex;
  }

  .dropdownMenu {
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1; /* Ensure the dropdown menu is above other content */
  }

  .dropdownOpen .dropdownMenu {
    display: block;
  }

  .featuresDropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Show the mobile login button */
  .mobileOnly {
    display: flex;
  }

  .getStartedButton {
    margin-top: 10px;
    align-self: center;
    width: 100%;
    text-align: center;
  }

  /* Hide the desktop login button */
  .desktopOnly {
    display: none;
  }
}
